bleak==0.21.1
colour==0.1.5

cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
comtypes==1.4.9
google-ai-generativelanguage==0.4.0
google-api-core==2.24.1
google-auth==2.38.0
google-generativeai==0.3.2
googleapis-common-protos==1.66.0
grpcio==1.70.0
grpcio-status==1.62.3
idna==3.10
proto-plus==1.26.0
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pypiwin32==223
python-dotenv==1.0.0
pyttsx3==2.90
pywin32==308
requests==2.32.3
rsa==4.9
SpeechRecognition==3.10.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
